{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}
{% extends 'layouts/blocks.html' %}
{% extends 'layouts/photos.html' %}


{% block photo %}
<div class="photos__description-wrapper">
  <h3 class="photos__description-title">Фото и видео</h3>
  <p class="photos__description-text">Не можете решиться на путешествие <br>из-за курса? Фотографии помогут <br>вам забыть о политике и экономике.</p>
</div>

<section class="photos-wrapper">
<hr class="photos__hr">

  <div class="photo">
    <img class="photo__img" src="images/photos/photo-1-mobile.png"
         srcset="images/photos/photo-1-mobile.png 320w, images/photos/photo-1-tablet.png 768w, images/photos/photo-1-desktop.png 1200w"
         sizes="100vw"
         alt="photo1"></img>
    <div class="photo__description">
      <div class="photo__text-wrapper">
        <h3 class="photo__text-heading">неродные просторы</h3>
        <p class="photo__text">Автор фото: Борис</p>
      </div>
      <div class="photo__like-wrapper">
        <svg class="photo__like" viewBox="0 0 23 21"><use xlink:href='images/icons.svg#like-icon'></use></svg>
        <h3 class="photo__like-number">1350</h3>
      </div>
    </div>
  </div>

<hr class="photos__hr">

  <div class="photo">
    <img class="photo__img" src="images/photos/photo-1-mobile.png"
         srcset="images/photos/photo-2-mobile.png 320w, images/photos/photo-2-tablet.png 768w, images/photos/photo-2-desktop.png 1200w"
         sizes="100vw"
         alt="photo2"></img>
    <div class="photo__description">
      <div class="photo__text-wrapper">
        <h3 class="photo__text-heading">Местная растительность</h3>
        <p class="photo__text">Автор фото: Сергей</p>
      </div>
      <div class="photo__like-wrapper">
        <svg class="photo__like" viewBox="0 0 23 21"><use xlink:href='images/icons.svg#like-icon'></use></svg>
        <h3 class="photo__like-number">143</h3>
      </div>
    </div>
  </div>

  <hr class="photos__hr">

  <div class="photo">
    <img class="photo__img" src="images/photos/photo-1-mobile.png"
         srcset="images/photos/photo-3-mobile.png 320w, images/photos/photo-3-tablet.png 768w, images/photos/photo-3-desktop.png 1200w"
         sizes="100vw"
         alt="photo3"></img>
    <div class="photo__description">
      <div class="photo__text-wrapper">
        <h3 class="photo__text-heading">Дорога на север</h3>
        <p class="photo__text">Автор фото: Петр</p>
      </div>
      <div class="photo__like-wrapper">
        <svg class="photo__like" viewBox="0 0 23 21"><use xlink:href='images/icons.svg#like-icon'></use></svg>
        <h3 class="photo__like-number">96</h3>
      </div>
    </div>
  </div>

  <hr class="photos__hr">

  <div class="photo">
    <img class="photo__img" src="images/photos/photo-1-mobile.png"
         srcset="images/photos/photo-4-mobile.png 320w, images/photos/photo-4-tablet.png 768w, images/photos/photo-4-desktop.png 1200w"
         sizes="100vw"
         alt="photo4"></img>
    <div class="photo__description">
      <div class="photo__text-wrapper">
        <h3 class="photo__text-heading">Мост дьявола</h3>
        <p class="photo__text">Автор фото: Антон</p>
      </div>
      <div class="photo__like-wrapper">
        <svg class="photo__like" viewBox="0 0 23 21"><use xlink:href='images/icons.svg#like-icon'></use></svg>
        <h3 class="photo__like-number">254</h3>
      </div>
    </div>
  </div>

  <hr class="photos__hr">

{% endblock %}

{% block video %}
<section class="video-block">
  <div class="description__title-wrapper">
    <h3 class="description__title">Все еще сомневаетесь?</h3>
    <p class="description__title-text">Смотрите видеопрезентацию и скорее за билетами, пока<vr class="video__desc-br"> они не подорожали в очередной раз!</p>
  </div>
  <div class="video__wrapper">
      <video class="video" id="video" poster="images/video-desktop.png" >
          <source src="video/video1.webm" type='video/webm; codecs="vorbis, vp8"'/>
      </video>
      <div class="video__controls video__controls-hidden">
        <div class="video__volume">
          <input class="video__volume-slider" id="vol-control" type="range" min="0" max="100" step="1" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)"></input>
        </div>
        <div class="controls__btn-left">
          <button class="controls__btn controls__btn-repeat" id="repeat">
            <svg class="video__repeat-icon video__icon-black" viewBox="0 0 16 20"><use xlink:href='images/icons.svg#replay'></use></svg>
            <svg class="video__repeat-icon video__icon-white" viewBox="0 0 16 20"><use xlink:href='images/icons.svg#replay-white'></use></svg>
          </button>
        </div>
        <div class="controls__btn-right">
          <button class="controls__btn controls__btn-subtitles" id="subtitles">
            <svg class="video__subtitles-icon video__icon-black" viewBox="0 0 33 20"><use xlink:href='images/icons.svg#subtitles'></use></svg>
            <svg class="video__subtitles-icon video__icon-white" viewBox="0 0 33 20"><use xlink:href='images/icons.svg#subtitles-white'></use></svg>
          </button>
          <button class="controls__btn controls__btn-fullscreen" id="fullscreen">
            <svg class="video__fullscreen-icon video__icon-black" viewBox="0 0 20 20"><use xlink:href='images/icons.svg#fullscreen'></use></svg>
            <svg class="video__fullscreen-icon video__icon-white" viewBox="0 0 20 20"><use xlink:href='images/icons.svg#fullscreen-white'></use></svg>
          </button>
        </div>
      </div>
  </div>
</section>
{% endblock %}
