.form__wrapper {
  display: grid;
  width: 100%;

  .description__title-wrapper {
    padding-top: 38px;
  }
}

.form__hr {
  width: 100%;
  color: rgba(229, 229, 229, 0.4);
}

.form__initials {
  display: grid;

}
