.reasons-gray {
  width: 100%;
  height: 503px;
  padding: 29px 0;
  box-sizing: border-box;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .reason {
    background-color: #efefef;
    height: 110px;
  }
  .reason__textwrapper {
    color: #000000;
    height: 147px;
  }
  .reason__h3 {
    margin: 0 0 -8px 0;
  }
}

.reasons-gray__line {
  width: 280px;
  opacity: 0.1;
  margin: 0;
}

.reason-gray__span {
  display: none;
}

.reason-gray__br {
  display: none;
}


@media (min-width: 510px) {
 .reasons-gray {
   flex-direction: row;
   height: 256px;
   padding: 0;
   .reason {
     width: 33.33333%;
     height: 256px;
   }
   .reason__textwrapper {
     height: 164px;
   }
   .reason__h3 {
     margin: 0 0 -13px 0;
   }
 }
  .reasons-gray__line {
    display: none;
  }

  .reason-gray__span {
    display: inline;
  }

  .reason-gray__br {
    display: inline;
  }
}
