.page-header {
  background-image: url('../images/back-mobile.png');
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 389px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page__logo {
  width: 102px;
  margin: -56px 0 0 0;
  position: relative;
}

.page-header__text {
  margin: 0;
  max-width: 282px;
  width: 88.1%;
}

.page-header__triangles {
  margin: -37px -2px -1px -2px;
  width: 100%;
}

@media (min-width: 321px) and (device-max-width: 321px){
  .page-header {
    background-image: url('../images/back-tablet.png');
    height: 518px;
  }

  .page-header__text {
    width: 59.8%;
    max-width: 460px;
  }
}

@media (min-width: 321px) {
  .page-header {
    background-image: url('../images/back-tablet.png');
    background-position: bottom;
  }
}


@media (min-width: 769px) {
  .page-header {
    background-image: url('../images/back-desktop.png');
    height: 518px;
  }

  .page__logo {
    width: 188px;
  }
}
