{% block nav %}
  <nav class="nav">
    <div class="nav__hidden">
      <a class="button" href="#">главная</a>
      <button class="nav__close" id="closebutton">
        <svg class="nav__closebutton-icon" viewBox="0 0 32 32"><use xlink:href='images/icons.svg#icon-cross'></use></svg>
      </button>
      <a class="button" href="../photos.html">фото и видео</a>
      <a class="button" href="#">форма отзыва</a>
      <a class="button" href="#">html academy</a>
    </div>
    <div class="nav__visible">
      <button type="button" name="hamburger" class="nav__hamburger" id="hamburger">
        <svg class="nav__burger-icon"viewBox="0 0 32 32"><use xlink:href='images/icons.svg#icon-menu'></use></svg>
      </button>
    </div>
  </nav>
{% endblock %}

{% block header %}
  <header class="page-header">
    <img class="page__logo" src="images/logotyle.svg"
         srcset="images/logotyle.svg 768w, images/logotype-desktop.svg 1200w"
     alt="Logo"></img>
    <img class="page-header__text" src="images/text-index.svg"
         srcset="images/text-index.svg 320w, images/page-header-text-tablet.svg 1200w"
         alt="text"></img>
    <img class="page-header__triangles" src="images/intro-triangle.svg"
         srcset="images/intro-triangle.svg 320w, images/main-triangles-tablet.svg 768w, images/intro-triangle-desktop.svg 1200w"
         alt="triangle"></img>
  </header>
{% endblock %}


{% block footer %}
<footer class="footer">
  <h3 class="footer__hashtag">#visitSEDONA</h3>
  <div class="footer__social">
    <a class="footer__button" href="#">
      <svg class="footer__social-icon" viewBox="0 0 18 14"><use xlink:href='images/icons.svg#twitter'></use></svg>
    </a>
    <a class="footer__button" href="#">
      <svg class="footer__social-icon" viewBox="0 0 9 18"><use xlink:href='images/icons.svg#facebook'></use></svg>
    </a>
    <a class="footer__button" href="#">
      <svg class="footer__social-icon" viewBox="0 0 20 14"><use xlink:href='images/icons.svg#youtube'></use></svg>
    </a>
  </div>
  <div class="footer__author">
    <p class="footer__authortext">Разработано</p>
    <svg class="footer__htmlacademy"viewBox="0 0 27 34"><use xlink:href='images/icons.svg#htmlacademy'></use></svg>
  </div>


</footer>
{% endblock %}
